@font-face {
    font-family: "raleway";
    src: url(fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: "raleway regular";
    src: url(fonts/static/Raleway-Regular.ttf);
}


body{
    font-family: "raleway regular";
}

header{
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
}

#logo_reservia{
    display: flex;
    justify-self: flex-start;

}

header img{
    width: 100px;
}

nav{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    margin: 0px;
    align-items: center;
    justify-items: center;
}

.bouton_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.lien_nav{
    text-decoration: none;
    color: inherit;
    display: flex;
}

#recherche{
    max-width: 1440px;
    margin: auto;
}

#section_rechercher{
    display: flex;
}

#bouton_rechercher{
    background-color: #0065FC;
    border: solid 1px #0065FC;
    font-weight: bold;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: ivory;
    height: 40px;
    padding: 12px;
    text-align: center;
}


ul{
    list-style-type: none;
}

#filtres{
    display: flex;
    justify-content: flex-start;
    
}

#liste_filtres{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 50px;
}
