@font-face {
    font-family: "raleway";
    src: url(/fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: "raleway regular";
    src: url(fonts/static/Raleway-Regular.ttf);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: "raleway regular";
    margin: auto;
}


.container{
    width: 1340px;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
}

.logo_reservia{
    display: flex;
    justify-self: flex-start;

}

.header_container img{
    width: 100px;
    display: block;
    padding: 40px 0 45px 0;
    border-top: 2px solid transparent;
}

/*navigation*/

.header_container{
    display: flex;
    justify-content: space-between;
}

.header_container ul{
    display: flex;
    flex-direction: row;
}


.bouton_nav{
    color: #000;
    display: block;
    padding: 45px 25px 0px 25px;
    border-top: 2px solid transparent;
    font-weight: bold;
}

.bouton_nav1{
    color: #0065FC;
    display: block;
    padding: 45px 25px 0px 25px;
    border-top: 2px solid transparent;
    font-weight: bold;
}

.bouton_nav:hover{
    color: #0065FC;
    border-top: #0065FC solid 2px;
}

/*recherche*/
#recherche{
    margin: auto;
    font-weight: bolder;
    font-size: 18px;
}

#recherche p{
    font-size: 12px;
    font-weight: normal;
}

#section_rechercher{
    display: flex;
    height: 50px;
}

#rechercher{
    width: 234px;
}

#rechercher::placeholder{
    font-weight: bold;
    font-size: 16px;
    color: black;
    padding-left: 14px;
}

.fas.fa-map-marker-alt{
    display: flex;
    align-items: center;
    justify-content: space-around;    
    background-color: #F2F2F2;
    height: 50px;
    width: 50px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;

}



#bouton_rechercher{
    background-color: #0065FC;
    border: solid 1px #0065FC;
    font-weight: bold;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: ivory;
    height: 50px;
    width: 133px;
    padding: 12px;
    text-align: center;
}

#rechercher{
    border: 1px solid #F2F2F2;
}

/*filtres*/
ul{
    list-style-type: none;
}

#filtres{
    display: flex;
    justify-content: flex-start;
    align-items: center;
       
}

#titre_filtres{
    display: flex;
    align-items: center;
    margin: 50px 30px 50px 0;
}

#liste_filtres{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.lien_filtre{
    text-decoration: none;
    font-weight: bolder;
    color: black;
    padding: 15px 20px 15px 10px;
}

#Economique{
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 25px;
    
}

#Economique:hover{
    background-color: #DEEBFF;
}

.fas.fa-money-bill-wave{
    display: flex;
    align-items: center;
    justify-content: space-around;    
    background-color: #F2F2F2;
    color: #0065FC;
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    border-radius: 30px;

}

#Familial{
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 25px;
}

#Familial:hover{
    background-color: #DEEBFF;
}

.fas.fa-child{
    display: flex;
    align-items: center;
    justify-content: space-around;    
    background-color: #F2F2F2;
    color: #0065FC;
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    border-radius: 30px;

}

#Romantique{
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 25px;
}

#Romantique:hover{
    background-color: #DEEBFF;
}

.fas.fa-heart{
    display: flex;
    align-items: center;
    justify-content: space-around;    
    background-color: #F2F2F2;
    color: #0065FC;
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    border-radius: 30px;
}


#Animaux{
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 25px;
}

#Animaux:hover{
    background-color: #DEEBFF;
}

.fas.fa-dog{
    display: flex;
    align-items: center;
    justify-content: space-around;    
    background-color: #F2F2F2;
    color: #0065FC;
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    border-radius: 30px;
}

#infos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    margin-bottom: 35px;
}


.fas.fa-info{
    color: #0065FC;
    border-radius: 30px;
    border: 1px solid #F2F2F2;
    padding: 5px 10px 5px 10px;
    margin-right: 12px;
}

/*Hébergements*/

.hebergement_container{
    display: flex;
    justify-content: space-around;
}

.marseille{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    width: 65%;
    border-radius: 15px;
    background-color: #F2F2F2;
    padding: 45px 40px 40px 40px;
}

.marseille h2{
    grid-column: 1;
    grid-row: 1;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 25px;
}

.marseille h3{
    grid-column: 1;
    grid-row: 4;
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;
}


/*Cannebière*/

#cannebiere img{
    height: 115px;
    width: 250px;
    object-fit: cover;
}

#cannebiere{
    display: flex;
    flex-direction: column;
    align-content: center;
    grid-column: 1;
    grid-row: 2;
    width: 250px;
    padding-bottom: 10px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 2px #aca8a8;
    transition: 0.5s;
}

#cannebiere a{
    display: block;
    color: black;
}

#cannebiere h3{
    font-weight: bold;
    font-size: 16px;
}

#cannebiere p{
    font-size: 14px;
    margin-top: 10px;
}

#cannebiere:hover{
    transform: scale(1.05);
    
}

.fas.fa-star{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #0065FC;   
}

/*Hôtel du port*/

#hotel_port img{
    height: 115px;
    width: 250px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 5px 15px 10px -10px;
}

#hotel_port{
    display: flex;
    flex-direction: column;
    align-content: center;
    grid-column: 2;
    grid-row: 2;
    height: 199px;
    width: 245px;
    padding-left: 15px;
    padding-bottom: 10px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 2px #aca8a8;
    transition: 0.5s;
}

#hotel_port a{
    color: black;
}

#hotel_port h3{
    font-weight: bold;
    font-size: 16px;
}

#hotel_port p{
    font-size: 14px;
    margin-top: 10px;
}

#hotel_port:hover{
    transform: scale(1.05);
}

/*Hôtel les mouettes*/

#hotel_mouettes img{
    height: 115px;
    width: 250px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 5px 15px 10px -10px;
}

#hotel_mouettes{
    display: flex;
    flex-direction: column;
    align-content: center;
    grid-column: 3;
    grid-row: 2;
    height: 199px;
    width: 245px;
    padding-left: 15px;
    padding-bottom: 10px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 2px #aca8a8;
    transition: 0.5s;
}

#hotel_mouettes a{
    color: black;
}

#hotel_mouettes h3{
    font-weight: bold;
    font-size: 16px;
}

#hotel_mouettes p{
    font-size: 14px;
    margin-top: 10px;
}

#hotel_mouettes:hover{
    transform: scale(1.05);
}

/*Hôtel de la mer*/

#hotel_mer img{
    height: 115px;
    width: 250px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 5px 15px 10px -10px;
}

#hotel_mer{
    display: flex;
    flex-direction: column;
    align-content: center;
    grid-column: 1;
    grid-row: 3;
    height: 199px;
    width: 245px;
    padding-left: 15px;
    padding-bottom: 10px;
    border-radius: 15px;
    margin-top: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 2px #aca8a8;
    transition: 0.5s;
}

#hotel_mer a{
    color: black;
}

#hotel_mer h3{
    font-weight: bold;
    font-size: 16px;
}

#hotel_mer p{
    font-size: 14px;
    margin-top: 10px;
}

#hotel_mer:hover{
    transform: scale(1.05);
}

/*Auberge Le Panier*/

#le_panier img{
    height: 115px;
    width: 250px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 5px 15px 10px -10px;
}

#le_panier{
    display: flex;
    flex-direction: column;
    align-content: center;
    grid-column: 2;
    grid-row: 3;
    height: 199px;
    width: 245px;
    padding-left: 15px;
    padding-bottom: 10px;
    border-radius: 15px;
    margin-top: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 2px #aca8a8;
    transition: 0.5s;
}

#le_panier a{
    color: black;
}

#le_panier h3{
    font-weight: bold;
    font-size: 16px;
}

#le_panier p{
    font-size: 14px;
    margin-top: 10px;
}

#le_panier:hover{
    transform: scale(1.05);
}

/*Hôtel chez Amina*/

#amina img{
    height: 115px;
    width: 250px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 5px 15px 10px -10px;
}

#amina{
    display: flex;
    flex-direction: column;
    align-content: center;
    grid-column: 3;
    grid-row: 3;
    height: 199px;
    width: 245px;
    padding-left: 15px;
    padding-bottom: 10px;
    border-radius: 15px;
    margin-top: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 2px #aca8a8;
    transition: 0.5s;
}

#amina a{
    color: black;
}

#amina h3{
    font-weight: bold;
    font-size: 16px;
}

#amina p{
    font-size: 14px;
    margin-top: 10px;
}

#amina:hover{
    transform: scale(1.05);
}

/*les plus populaires*/

.populaires{
    width: 33%;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 45px 35px 35px;
    margin-left: 2%;
}

.populaires h2{
    font-weight: bolder;
    font-size: 20px;
}

#titre_populaires{
    display: flex;
    justify-content: space-between;
}

#titre_populaires i{
    font-size: 20px;
}

/*Hôtel Le soleil du matin*/

#soleil_matin img{
    height: 133px;
    width: 127px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#soleil_matin{
    display: flex;
    height: 134px;
    width: 343px;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 2px #aca8a8;
    transition: 0.5s;
}

#soleil_matin:hover{
    transform: scale(1.05);
}

#texte_hotel{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 20px 60px 5px 20px;
}

#texte_hotel h3{
    font-weight: bold;
    font-size: 16px;
}

#texte_hotel p{
    font-size: 14px;
    margin-top: 10px;
}

#texte_hotel .notation{
    margin-top: 20px;
}


/*Au coeur de l'eau*/

#coeur_eau img{
    height: 133px;
    width: 127px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#coeur_eau{
    display: flex;
    height: 134px;
    width: 343px;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 2px #aca8a8;
    transition: 0.5s;
}

#coeur_eau:hover{
    transform: scale(1.05);
}

/*Tou bleu et blanc*/

#bleu_blanc img{
    height: 133px;
    width: 127px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#bleu_blanc{
    display: flex;
    height: 134px;
    width: 343px;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 2px #aca8a8;
    transition: 0.5s;
}

#bleu_blanc:hover{
    transform: scale(1.05);
}

/*Activités à Marseille*/

.activites_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 4fr;
    margin-bottom: 60px;
}

.activites_container h1{
    font-weight: bolder;
    font-size: 20px;
}

/*Vieux port*/

#vieux_port{
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 2;
    height: 445px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px #dfdbdb;
    transition: 0.5s;
}

#vieux_port:hover{
    transform: scale(1.05);
}

#vieux_port img{
    height: 388px;
    width: 300px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

#vieux_port h3{
    font-weight: bold;
    font-size: 18px;
    padding: 20px 0 20px 15px;
}

/*Sub grid 1*/

.subgrid1{
    display: grid;
    grid-template-rows: 0.25fr 0.5fr;
    grid-column: 2;
    grid-row: 2;
    grid-row-gap: 40px;
}

/*Fort de Pomègues*/

#pomegues{
    display: flex;
    flex-direction: column;
    height: 235px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px #dfdbdb;
    transition: 0.5s;
}

#pomegues:hover{
    transform: scale(1.05);
}

#pomegues img{
    height: 180px;
    width: 300px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

#pomegues h3{
    font-weight: bold;
    font-size: 18px;
    padding: 20px 0 20px 15px;
}

/*Îles du Frioul*/

#frioul{
    display: flex;
    flex-direction: column;
    height: 170px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px #dfdbdb;
    transition: 0.5s;
}

#frioul:hover{
    transform: scale(1.05);
}

#frioul img{
    height: 108px;
    width: 300px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

#frioul h3{
    font-weight: bold;
    font-size: 18px;
    padding: 20px 0 20px 15px;
}

/*Parc national des Calanques*/

#calanques{
    display: flex;
    flex-direction: column;
    grid-column: 3;
    grid-row: 2;
    height: 445px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px #dfdbdb;
    transition: 0.5s;
}

#calanques:hover{
    transform: scale(1.05);
}

#calanques img{
    height: 388px;
    width: 300px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

#calanques h3{
    font-weight: bold;
    font-size: 18px;
    padding: 20px 0 20px 15px;
}

.subgrid2{
    display: grid;
    grid-template-rows: 1fr 0.75fr;
    grid-column: 4;
    grid-row: 2;
}

/*Notre-Dame-de-la-Garde*/

#notre_dame{
    display: flex;
    flex-direction: column;
    height: 193px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px #dfdbdb;
    transition: 0.5s;
}

#notre_dame:hover{
    transform: scale(1.05);
}

#notre_dame img{
    height: 137px;
    width: 300px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

#notre_dame h3{
    font-weight: bold;
    font-size: 18px;
    padding: 20px 0 20px 15px;
}

/*Parc Longchamp*/

#longchamp{
    display: flex;
    flex-direction: column;
    height: 208px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px #dfdbdb;
    transition: 0.5s;
}

#longchamp:hover{
    transform: scale(1.05);
}

#longchamp img{
    height: 151px;
    width: 300px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

#longchamp h3{
    font-weight: bold;
    font-size: 18px;
    padding: 20px 0 20px 15px;
}

/*Footer*/

.footer{
    width: 1440px;
    height: 217px;
    margin: auto;
    background-color: #F2F2F2;
}

.footer h2{
    font-weight: bold;
    font-size: 16px;
}

.footer p{
    font-size: 14px;
}

.footer_menus{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 0.5fr;
}

.menu{
    margin: 45px 0px 50px 45px;
}



