@font-face {
    font-family: "raleway";
    src: url(/fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: "raleway regular";
    src: url(fonts/static/Raleway-Regular.ttf);
}

@font-face{
    font-family: "raleway bold";
    src: url(fonts/static/Raleway-Bold.ttf);
}

@font-face{
    font-family: "raleway extrabold";
    src: url(fonts/static/Raleway-ExtraBold.ttf);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: "raleway regular";
    margin: auto;
}

html {
    scroll-behavior: smooth;
  }

.container{
    width: 1340px;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
}

.logo_reservia{
    display: flex;
    justify-self: flex-start;

}

.header_container img{
    width: 100px;
    display: block;
    padding: 40px 0 45px 0;
    border-top: 2px solid transparent;
}

/*navigation*/

.header_container{
    display: flex;
    justify-content: space-between;
}

.header_container ul{
    display: flex;
    flex-direction: row;
}


.bouton_nav{
    color: #000;
    display: block;
    padding: 45px 25px 0px 25px;
    border-top: 2px solid transparent;
    font-weight: bold;
}

.bouton_nav1{
    color: #0065FC;
    display: block;
    padding: 45px 25px 0px 25px;
    border-top: 2px solid transparent;
    font-weight: bold;
}

.bouton_nav:hover{
    color: #0065FC;
    border-top: #0065FC solid 2px;
}

/*recherche*/
#recherche{
    margin: auto;
    font-size: 18px;
}

#recherche h1{
    font-weight: bolder;
    font-size: 22px;
}

#recherche p{
    font-size: 14px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 15px;
}

#section_rechercher{
    display: flex;
    height: 50px;
}

#rechercher{
    width: 234px;
}

#rechercher::placeholder{
    font-weight: bold;
    font-size: 16px;
    color: black;
    padding-left: 14px;
}

.fas.fa-map-marker-alt{
    display: flex;
    align-items: center;
    justify-content: space-around;    
    background-color: #F2F2F2;
    height: 50px;
    width: 50px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;

}



.bouton_rechercher{
    background-color: #0065FC;
    border: solid 1px #0065FC;
    font-weight: bold;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: ivory;
    height: 50px;
    width: 133px;
    padding: 12px;
    text-align: center;
}

#rechercher{
    border: 1px solid #F2F2F2;
}

.bouton_rechercher.btn_search_mobile{
    display: none;
}

/*filtres*/
ul{
    list-style-type: none;
}

.filtres{
    display: flex;
    justify-content: flex-start;
    align-items: center;
       
}

.titre_filtres{
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 50px 30px 50px 0;
}

.liste_filtres{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.lien_filtre{
    text-decoration: none;
    font-weight: bolder;
    color: black;
    padding: 15px 20px 15px 10px;
}

#Economique{
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 25px;
    
}

#Economique:hover{
    background-color: #DEEBFF;
}

.fas.fa-money-bill-wave{
    display: flex;
    align-items: center;
    justify-content: space-around;    
    background-color: #F2F2F2;
    color: #0065FC;
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    border-radius: 30px;

}

#Familial{
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 25px;
}

#Familial:hover{
    background-color: #DEEBFF;
}

.fas.fa-child{
    display: flex;
    align-items: center;
    justify-content: space-around;    
    background-color: #F2F2F2;
    color: #0065FC;
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    border-radius: 30px;

}

#Romantique{
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 25px;
}

#Romantique:hover{
    background-color: #DEEBFF;
}

.fas.fa-heart{
    display: flex;
    align-items: center;
    justify-content: space-around;    
    background-color: #F2F2F2;
    color: #0065FC;
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    border-radius: 30px;
}


#Animaux{
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 25px;
}

#Animaux:hover{
    background-color: #DEEBFF;
}

.fas.fa-dog{
    display: flex;
    align-items: center;
    justify-content: space-around;    
    background-color: #F2F2F2;
    color: #0065FC;
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    border-radius: 30px;
}

#infos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    margin-bottom: 15px;
}


.fas.fa-info{
    color: #0065FC;
    border-radius: 30px;
    border: 1px solid #F2F2F2;
    padding: 5px 10px 5px 10px;
    margin-right: 12px;
}

/*Hébergements*/

.hebergement_container{
    display: flex;
    justify-content: space-around;
}

.marseille{
    width: 65%;
    border-radius: 15px;
    background-color: #F2F2F2;
    padding: 45px 25px 0 25px;
}

.marseille h2{
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 15px;
}

.ligne1_hebergement{
    display: flex;
    justify-content: space-between;
}

.ligne2_hebergement{
    display: flex;
    justify-content: space-between;
}

/*Items Hebergements*/

.items_hebergement img{
    height: 115px;
    width: 236px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px 5px 0 5px;
}

.items_hebergement{
    width: 245px;
    padding-bottom: 10px;
    border-radius: 15px;
    margin: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 2px #aca8a8;
    transition: 0.5s;
}

.items_hebergement a{
    display: block;
    color: black;
}

.items_hebergement:hover{
    transform: scale(1.05);
    
}

.items_hebergement h3{
    font-weight: bold;
    font-size: 16px;
}

.texte_hebergement{
    margin-top: 10px;
    margin-left: 15px;
    color: black;
}

.texte_hebergement p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.texte_hebergement ul{
    display: flex;
}

.fas.fa-star{
    font-size: 14px;
    color: #F2F2F2;   
}

.blue{
    color: #0065FC !important;
    }

#afficher_plus h3{
    font-weight: bolder;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 40px;
    margin-bottom: 45px;
}


/*les plus populaires*/

.populaires{
    width: 33%;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 45px 35px 0 35px;
    margin-left: 2%;
}

.populaires h2{
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 6%
    
}

#titre_populaires{
    display: flex;
    justify-content: space-between;
}

#titre_populaires i{
    font-size: 20px;
}

.container_populaires{
    margin-top: 5%;
}

/*Items Populaires*/

.items_populaires img{
    height: 133px;
    width: 127px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.items_populaires{
    display: flex;
    height: 134px;
    width: 343px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 12%;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 2px #aca8a8;
    transition: 0.5s;
}

.items_populaires:hover{
    transform: scale(1.05);
}

.items_populaires a{
    display: block;
    color: black;
}

.texte_populaires{
    color: black;
    padding: 20px 60px 5px 20px;
}

.texte_populaires h3{
    font-weight: bold;
    font-size: 16px;
}

.texte_populaires p{
    font-size: 14px;
    margin-top: 10px;
}

.texte_populaires ul{
    display: flex;
    margin-top: 40px;
}

/*Activités à Marseille*/

.activites_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.titre_activites h2{
    font-weight: bolder;
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 25px;
}

/*Items grands activités*/

.item_grand_activites{
    display: flex;
    flex-direction: column;
    height: 445px;
    width: 300px;
    margin-right: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px #dfdbdb;
    transition: 0.5s;
}

.item_grand_activites:hover{
    transform: scale(1.05);
}

.item_grand_activites img{
    height: 388px;
    width: 300px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

.texte_activites{
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding: 20px 0 20px 15px;
}

/*Items Moyens Activités*/

.item_moyen_activites{
    display: flex;
    flex-direction: column;
    height: 235px;
    width: 300px;
    margin-bottom: 40px;
    margin-right: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px #dfdbdb;
    transition: 0.5s;
}

.item_moyen_activites:hover{
    transform: scale(1.05);
}

.item_moyen_activites img{
    height: 180px;
    width: 300px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}


/*Items Xsmall Activités*/

.item_xsmall_activites{
    display: flex;
    flex-direction: column;
    height: 170px;
    width: 300px;
    margin-bottom: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px #dfdbdb;
    transition: 0.5s;
}

.item_xsmall_activites:hover{
    transform: scale(1.05);
}

.item_xsmall_activites img{
    height: 108px;
    width: 300px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}


/*Items small activités*/

.item_small_activites{
    display: flex;
    flex-direction: column;
    height: 193px;
    width: 300px;
    margin-bottom: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px #dfdbdb;
    transition: 0.5s;
}

.item_small_activites:hover{
    transform: scale(1.05);
}

.item_small_activites img{
    height: 137px;
    width: 300px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

.item_small_activites_1{
    display: flex;
    flex-direction: column;
    height: 207px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px #dfdbdb;
    transition: 0.5s;
}

.item_small_activites_1:hover{
    transform: scale(1.05);
}

.item_small_activites_1 img{
    height: 150px;
    width: 300px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}


/*Footer*/

.footer{
    width: 1440px;
    height: 217px;
    margin: auto;
    background-color: #F2F2F2;
}

.footer h2{
    font-weight: bold;
    font-size: 16px;
}

.footer p{
    font-size: 14px;
}

.footer_menus{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 0.5fr;
}

.menu{
    margin: 45px 0px 50px 45px;
}


@media screen and (max-width: 991px){
    #bloc_page{
        margin-left: 20px;
        margin-right: 20px;
    }

    .header_container{
        width: 100%;
    }

    .bouton_rechercher.btn_search_mobile{
        display: none;
    }
    
    .titre_filtres  {
        margin-right: 10px;
    }

    #Economique, #Familial, #Romantique, #Animaux{
        margin-right: 10px;
    }

    .hebergement_container{
        display: flex;
        flex-direction: column;
    }

    .populaires{
        order: 1;
        margin-left: 0;
        margin-bottom: 20px;
        width: 64%;
    }

    .populaires h2{
        margin-bottom: 20px;
    }

    .container_populaires{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .items_populaires{
        margin-bottom: 2%;
        width: 100%;
    }

    .marseille{
        order: 2;
        width: 65.5%;
    }

    .activites_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 70%;
    }

    .container_activites_1, .container_activites_2{
        order: 1;
    }

    .container_activites_3, .container_activites_4{
        order: 2;
    }

    .item_grand_activites{
        width: 495px;
        margin-right: 40px;
    }

    .item_grand_activites img{
        width: 495px;
    }

    .item_moyen_activites, .item_xsmall_activites{
        margin-right: 0;
        width: 395px;
    }

    .item_moyen_activites img, .item_xsmall_activites img{
        width: 395px;
    }

    .item_small_activites, .item_small_activites_1, .item_small_activites img, .item_small_activites_1 img{
        width: 395px;
    }
    

    .footer{
        width: 100%;
    }

    .footer_menus{
        display: flex;
        justify-content: space-around;
    }
}
